<!-- Footer -->
<footer  id="footer"
	class="page-footer font-small special-color-dark pt-4 bg-light">
	<!-- Footer Elements -->
	<div
		class="container">

		<!-- Social buttons -->
		<ul class="list-unstyled list-inline text-center text-secondary">
			<li class="list-inline-item">
				<a class="btn-floating btn-fb mx-1" target="_blank" href="{{info.facebook}}">
					<i class="fab fa-2x fa-lg fa-facebook-f"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-tw mx-1" target="_blank" href="{{info.twitter}}">
					<i class="fab fa-2x fa-lg fa-twitter"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-tw mx-1" target="_blank" href="{{info.instagram}}">
					<i class="fab fa-2x fa-lg fa-instagram"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-gplus mx-1" target="_blank" href="{{info.youtube}}">
					<i class="fab fa-2x fa-lg fa-youtube"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-li mx-1" target="_blank" href="{{info.linkedin}}">
					<i class="fab fa-2x fa-lg fa-linkedin-in"></i>
				</a>
			</li>
		</ul>
		<!-- Social buttons -->

	</div>

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		<div class="small text-center text-muted">Copyright © 2020 - NMVI-Prod</div>

		<div class="row justify-content-center">
		{% if is_granted('ROLE_USER') %}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="nav-link" href="{{path('admin_videos')}}">Accès admin</a>
			{% endif %}
			<a class="nav-link text-danger" href="{{path('app_logout')}}">Déconnexion</a>
		{% else %}
			<a class="nav-link" href="{{path('app_login')}}">Accès privé</a>
		{% endif %}
		</div>
	</div>


</footer>
