{% extends 'main/page.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block sections %}
	<section class="page-section-small">
		<div class="container-fluid">
			<div class="row justify-content-end">
				<div class="col-sm-4 text-center">

					<select class="form-control" id="" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
						<option  value="{{path('portfolio')}}" selected>Toutes les catégories</option>
						{% for category in categories %}
							<option value="{{path('portfolio', {id: category.id})}}" {% if selectedCategory and category.id == selectedCategory.id %} selected {% endif %}>
								{{category.title}}
							</option>
						{% endfor %}
					</select>

				</div>
			</div>
		</div>
	</section>
	<div id="portfolio" class="container-fluid py-3 pb-5">
		{% for category in categories %}
			{% if selectedCategory != null and category.id == selectedCategory.id and category.videos is empty %}
				<h3 class="text-center">Cette catégorie est vide.</h3>
			{% else %}

				{% if (selectedCategory == null or category.id == selectedCategory.id) and  category.videos is not empty %}
					<div class="row p-5">
						<div class="col-12">
						<h5>{{category.title}}</h5>
						</div>
						<div class="row">
							{% for video in category.videos %}
								<div
									class="col-sm-6 col-lg-4 p-2">
									<!-- 16:9 aspect ratio -->
									<a href="{{path('portfolio_video', {id: video.id})}}">
										<img style="height:100%;width:100%" src="https://img.youtube.com/vi/{{video.youtubeId}}/maxresdefault.jpg"/>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}


			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
