{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}

	{% embed "partials/admin_page.html.twig" %}
		{% import "macros/macros.html.twig" as macros %}
		{% block table %}
			<div class="row">
				<div class="col-6">
					<h2>Catégories</h2>
				</div>
				<div class="col-6">
					<a class="btn btn-primary m-2 js-scroll-trigger" href="#ajouterCategory">
						Ajouter une catégorie
					</a>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Nombre de vidéos associées</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td scope="row">{{category.title}}</td>
							<td>{{category.videos.count}}</td>
							<td>
								{{macros.actionButton(path('admin_modify_video_category', {"id": category.id} ), "fa fa-edit", "Modifier")}}
								{% if category.videos is empty %}
									{{macros.actionButton(path('admin_remove_video_category', {"id": category.id} ), "fa fa-trash", "Supprimer")}}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}


		{% block form %}
			<h5 id="ajouterCategory">Ajouter une categorie</h5>

			{{ form_start(form) }}
			{{ form_end(form) }}
			{{ form_row(form.valider) }}

		{% endblock %}

	{% endembed %}


{% endblock %}
